body{
	background: url("../images/background.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
}
* {
	box-sizing: border-box;
}

.btn-primary {
    margin: 3px;
    background-color: #999999;
    border-color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    background-color: #fff;
	opacity: 0.4;
	padding-left: 100px;
}
.jumbotron {
    background-color: inherit;
    text-align: center;
    padding: 100px;
}
.jumbotron .h1, .jumbotron h1 {
    text-align: center;
}

